<template>
  <div class="nyat-home">
    <span> Hi my name is Natalie Hsu. </span>
    <img alt="shoko" src="../assets/art/sticker/shoko.png" width="500" />
  </div>
</template>

<script>
export default {
  name: 'home',
};
</script>

<style lang="scss">
.nyat-home {
  display: flex;
  flex-flow: row wrap;
}
</style>
