<template>
  <div>
    <router-link v-for="r in routes" :key="r.path" :to="r.path">
      {{ r.name }}
    </router-link>
  </div>
</template>

<script>
import { routes } from '../router';

export default {
  name: 'nyat-nav',
  data() {
    return {
      routes,
    };
  },
};
</script>
