<template>
  <div id="app">
    <nyat-nav />
    <router-view />
  </div>
</template>

<script>
import NyatNav from '@/components/nyat-nav.vue';

export default {
  name: 'App',
  components: {
    NyatNav,
  },
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
</style>
